* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#main-container {
    border: 8px solid grey;
    background-color: black;
    height: 100vh;
}

/* #main-sub-container {
    border: 6px solid lightgrey;
    height: 100vh;
} */

h1 {
    padding: 40px 10px 30px 10px;
    font-size: 3.9em;
    text-align: center;
    color: white;
    font-weight: bold;
}

#music-button {
    font-size: 2.7em;
    background-color: white;
    color: black;
    border: 7px solid lightgrey;
    display: block;
    margin: 30px auto;
    padding: 0 4px;
}

#booking-button {
    font-size: 2.7em;
    background-color: white;
    color: black;
    border: 7px solid lightgrey;
    display: block;
    margin: 60px auto;
    padding: 0 4px;
}

#about-button {
    font-size: 2.7em;
    background-color: white;
    color: black;
    border: 7px solid lightgrey;
    display: block;
    margin: 20px auto;
    padding: 0 4px;
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
    h1 {
        padding-bottom: 80px;
        padding-top: 50px;
        margin-top: 50px;
        font-size: 5.4em;
        color: black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: lightgrey;
        letter-spacing: 7px;
    }

    #music-button, #booking-button, #about-button {
        font-size: 3.5em;
        padding: 5px 35px 5px 35px;
        background-color: black;
        color: grey;
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white; */
        border: 2px solid lightgrey;
    }

    #music-button {
        margin-top: 20px;
        padding: 0px 60px;   
    }

    #booking-button {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    #about-button {
        padding: 0px 60px;
    }
  }